.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.enlaces a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    justify-content: space-between;
}
nav{
    background: linear-gradient(to bottom left, #FFD700, #FFB300);
    border: 1px black solid;
    margin: 0;
    display: flex;
    flex-direction: column;
}